<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Colors & Type
    body
        .layout
            header.layout__header
                .header__logo
                    img(src="./assets/landlogo.svg", alt="", srcset="")
                .header__menu.menu
                    ul.menu__nav
                        li
                            a(href="") О нас
                        li.popup 
                            a(href="") Услуги
                            input(type="button", value="").nav__button.services
                        li 
                            a(href="") Вакансии
                        li 
                            a(href="") Новости
                        li.popup 
                            a(href="") Соглашения
                            input(type="button", value="").nav__button.agreements
                    .menu__buttons
                        input(type="button", value="войти").buttons__signin.header__button
                        input(type="button", value="зарегистрироваться").buttons__signup.header__button
            main.layout__main
            footer.layout__footer
                .footer__widgets
                    ul.widgets__list
                        li.widgets__award
                            img(src="./assets/landlogo.svg", alt="", srcset="")
                            p Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                        li.widgets__nav
                            ul 
                                li.widgets__list-title Навигация
                                li О нас
                                li Новости
                                li Служба поддержки
                                li Услуги
                        li.widgets__about
                            ul 
                                li.widgets__list-title О нас
                                li О сервисе
                                li Наша команда
                                li Вакансии
                                li Инвесторы
                        li.widgets__help
                            ul 
                                li.widgets__list-title Служба поддержки
                                li Соглашения
                                li Сообщества
                                li Связь с нами
                        li.widgets__subscribe
                            .widgets__list-title Подписка
                            p Получайте специальные предложения и новости сервиса
                            input(type="text")
                .footer__copyright
                        